@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:ital,wght@0,500;1,400&family=Poppins:ital,wght@1,500&family=Roboto&family=Source+Code+Pro:ital,wght@1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  width: 100%;
  background-color: #777;
}

.card-sec {
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background-color: white;
  border: none;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
  transform-style: preserve-3d;
  transition: 150ms;
  position: relative;
}

.card {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  border: none;
  transform-style: preserve-3d;
}

.card .front {
  width: auto;
}

.card-sec:hover {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.7);
  --translate-y: -2px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem 1rem;
  max-width: 1250px;
  margin: auto;
}

.front .question {
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.front .options {
  margin-left: 5px;
  margin-top: 10px;
  font-size: 16px;
  color: #777;
  font-weight: normal;
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.front .option {
  margin-top: 2px;
  display: block;
}

.front,
.back {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  text-align: left;
}

.flip {
  --rotate-y: 180deg;
}

.back {
  transform: rotateY(180deg);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  border-bottom: 1px solid blue;
  color: blue;
  padding: 1rem 1.5rem;
}

.header label {
  font-size: 18px;
  color: blue;
  margin-right: 3px;
}

.header .form-group {
  display: inline-flex;
  width: min-content;
}

.header .form-group2 {
  width: fit-content;
}

.form #number {
  width: 1rem;
}

.header select {
  border: 2px solid grey;
  border-radius: 5px;
  outline: none;
  color: blue;
  font-size: 1rem;
  min-width: 10.25rem;
  width: 50%;
  max-width: 50%;
  cursor: pointer;
}

.header select::-webkit-scrollbar {
  display: none;
}

.header option {
  cursor: pointer;
}

.form-group input {
  outline: none;
  border: 2px solid #777;
}

.header select:focus,
.header select:hover {
  border: 2px solid blue;
}

.btn {
  padding: 5px 9px;
  border: none;
  border-radius: 5px;
  background-color: rgb(77, 77, 234);
  font-size: 18px;
  margin-left: 11px;
  color: white;
  cursor: pointer;
  transition: 0.3s ease all;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(48, 42, 205, 0.6);
}

#number {
  outline: none;
  font-size: 1rem;
  padding: 2px;
  border-radius: 5px;
  color: rgb(77, 77, 234);
  min-width: 6.25rem;
  width: 30%;
  max-width: 30%;
}

#number:hover,
#number:focus {
  border: 2px solid rgb(77, 77, 234);
}

@media screen and (max-width: 660px) {
  .form-group {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .form-group {
    align-items: center;
  }
  .header {
    padding: 0;
    padding: 5px 0 1rem 0;
  }
}

@media screen and (max-width: 365px) {
  .card-grid {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}
