* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(171, 171, 171);
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  /* height: 220px; */
  border-radius: 0.25rem;
  background-color: white;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));

  transition: 150ms;
  position: relative;
}



.card .front,
.card .back {
  backface-visibility: hidden;
  position: absolute;
  padding: 1rem;
}

.card .front {
  position: absolute;
  /* top: 0; */
  left: 0;
}

.card .options {
  margin-top: 0.55rem;
  color: #555;
}

.card .option {
  font-size: 14px;
  margin-top: 2px;
}

.card .option:first-child {
  margin-top: 0;
}

.card:hover {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  --translate-y: -2px;
}

.card.flip {
  --rotate-y: 180deg;
}

.card .back {
  transform: rotateY(180deg);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill ,minmax(200px ,1fr));
  /* grid-template-rows: minmax(200px,1fr) ; */
  gap: 1rem;
}

.container{
  max-width:1160px!important;
  padding: 1rem 2rem;
  margin: auto;
  
}

.header{
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding: 1rem ;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  border-bottom: 2px solid grey;
}

.header .form-group{
display: flex;
flex-direction: column;
font-size: 20px;
text-align: left;

}

.btn{
  background-color: hsl(200,100%,50%);
  border: none;
  border-radius: 5px;
  padding: 5px 8px;
   color: white;
   font-size: 17px;
   margin-top: 5px;
}

.btn:hover{
  background-color: hsl(200,100%,40%);
}

.header .row{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}